@import '~antd/dist/antd.css';

body{
    background-color: #19222C;
    color: var(--textSoft);
    
    font-family: "Helvetica-Light", "Helvetica Light", "Helvetica", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 24px;
    hyphens: none;

    margin:0;
    padding: 0px;
}

:root{
    --textBright: #E5E7EF;
    --textSoft: #9095AA;
    --textAccent: #099EE2;
    --margins: 150px;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.txt-bright{
    color: var(--textBright);
}

.txt-soft{
    color: var(--textSoft);
}

.txt-accent{
    color: var(--textAccent);
}

.txt-body{
    color: var(--textSoft);
    font-size: 20px;
    font-weight: lighter;
}

.txt-headline{
    font-size: 50px;
    font-weight: bold;
}

.txt-subtitle{
    font-size: 35px;
    font-weight: medium;
}


.drop-box{
    background-color: #303C4B;
    box-shadow: 10px 10px 0px #192F4A;
}
